.site-header {
  text-align: left;
  background: $bg2;
}

.header-inner {
  padding: $sone ($sone * 2);

  @include tablet {
    width: $measure;
    margin: 0 auto;
  }

  @include desktop {
    padding: $sone * 2;
    width: auto;
  }
}

.site-nav {
  ul {
    font-size: $h7;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;
    margin-right: $sone;
    line-height: $sone * 2;

    @include tablet {
      line-height: $vrythm;
    }

    @include desktop {
      margin-right: $sone * 1.25;
    }
  }

  li:last-child {
    margin-right: 0;
  }
}

// Three column header
.site-header section {
  display: block;
  height: auto;
  float: left;
  text-align: left;
  margin: $shalf 0;

  div,
  nav {
    line-height: $vrythm;
  }

  @include desktop {
    text-align: center;
    margin: 0;
  }
}

.site-name {
  width: 100%;
  font-size: $h4;
  font-weight: 700;

  @include desktop {
    width: 18.285714286%;
  }
}

.site-menu {
  width: 100%;
  text-transform: uppercase;

  @include desktop {
    width: 65.714285714%;
  }
}

.site-action {
  width: 100%;
  text-transform: uppercase;
  font-size: $h7;

  @include desktop {
    width: 10.285714286%;
  }
}
