.measure {
  max-width: $measure;
  margin: 0 auto;
  padding: 0 ($sone * 2);
}

.clearfix::before {
  content: '';
  display: table;
}

.clearfix::after {
  @extend .clearfix::before;
  clear: both;
}

.profile-pic {
  float: right;
  width: 33.33%;
  max-width: 300px;
  height: auto;
  margin: $shalf 0 $shalf $sone;
  @include radius(2%);
}
