p {
  line-height: $line-height;
}

small,
.small {
  font-size: $h7;
}

sup {
  position: relative;
  vertical-align: middle;
  top: -0.9ex;
}

blockquote {
  border-left: medium solid $dark2;
  font-style: italic;
  padding: 0 0 0 $sone;
  margin: 0;

  blockquote {
    font-family: $serif;
    font-style: normal;
    border-left: thin solid $dark1;
  }
}

p + h2,
p + h3,
ul + h2,
ul + h3,
ol + h2,
ol + h3,
blockquote + h2,
blockquote + h3,
div + h2,
div + h3 {
  margin-top: $vrythm * 1.5;
}

h2 + h3,
h3 + h4 {
  margin-top: 0;
}

ul ul,
ol ol {
  margin-bottom: 0;
}
