// Typography
$base-font-size: 16px;
$serif: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif !default;
$sans: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$mono: Menlo, Consolas, "Lucida Console", Monaco, monospace !default;

$line-height: 1.602;
$vrythm: 1.602rem;
$heading-line-height: 1.125;

// Font scale
$h1: 2.027rem !default;
$h2: 1.424rem !default;
$h3: 1.125rem !default;
$h4: 1rem !default;
$h5: .889rem !default;
$h6: .79rem !default;
$h7: .702rem !default;

// Page width
$measure: 36rem;

// Viewports
$tablet: 48em;
$desktop: 64em;

// Default colour scheme
// Will be used if no theme is set

$dbg: #2A2A2A !default; // Dark background
$dhl: #3A3A3A !default; // Dark highlight
$dt2: #6A6A6A !default; // Dark bg text secondary
$dt1: #9A9A9A !default; // Dark bg text primary

$lbg: #F5F5F5 !default; // Light background
$lhl: #E5E5E5 !default; // Light highlight
$lt2: #858585 !default; // Light bg text secondary
$lt1: #454545 !default; // Light bg text primary

$red: #C62828 !default; // Red
$ora: #E65100 !default; // Orange
$yel: #F9A825 !default; // Yellow
$gre: #689F38 !default; // Green

$cya: #0097A7 !default; // Cyan
$blu: #1565C0 !default; // Blue
$vio: #8E24AA !default; // Violet
$mag: #EC407A !default; // Magenta

// Site-wide colours

$bg: lighten($lbg, 2%) !default;
$bg1: $lbg !default;
$bg2: darken($lbg, 1%) !default;
$bhl: $lhl !default;
$text1: $lt1 !default;
$text2: $lt2 !default;
$link: $blu !default;
$linkalt: $cya !default;

// Dividers
$dark1: rgba(#000, .1) !default;
$dark2: rgba(#000, .2) !default;
$penumbra: 0 1px 3px $dark2 !default;

// Space
$shalf: .5rem !default;
$sone: 1rem !default;

// Mixins
@mixin bodynormal {
  font-family: $sans;
  line-height: $line-height;
}

@mixin box-size {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin display {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin direction {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

@mixin box-flex {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

@mixin shadow {
  -webkit-box-shadow: $penumbra;
  -moz-box-shadow: $penumbra;
  -ms-box-shadow: $penumbra;
  box-shadow: $penumbra;
}

@mixin radius($degree) {
  -webkit-border-radius: $degree;
  -moz-border-radius: $degree;
  -ms-border-radius: $degree;
  border-radius: $degree;
}

@mixin tablet {
  @media screen and (min-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$desktop}) {
    @content;
  }
}

@mixin bigblock {
  padding: ($sone * 2.5) ($sone * 5);
  margin-right: -($sone * 5);
  margin-left: -($sone * 5);
}
