// Typography

$base-font-size: 16px;
$serif: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif !default;
$sans: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$mono: Menlo, Consolas, "Lucida Console", Monaco, monospace !default;

$line-height: 1.602;
$vrythm: 1.602rem;
$heading-line-height: 1.125;

// Font scale

$h1: 2.027rem !default;
$h2: 1.424rem !default;
$h3: 1.125rem !default;
$h4: 1rem !default;
$h5: .889rem !default;
$h6: .79rem !default;
$h7: .702rem !default;

// Page width

$measure: 36rem;

// Viewports

$tablet: 48em;
$desktop: 64em;

// Alto (light variant)
// Default colour scheme
// Will be used if no theme is specified

$dbg: #181D1A !default; // Dark background
$dhl: #282D2A !default; // Dark highlight
$dt2: #686D6A !default; // Dark bg text secondary
$dt1: #989D9A !default; // Dark bg text primary

$lbg: #FAFBFC !default; // Light background
$lhl: #EAEBEC !default; // Light highlight
$lt2: #8A8B8C !default; // Light bg text secondary
$lt1: #4A4B4C !default; // Light bg text primary

$red: #C6414D !default; // Red
$ora: #D9754D !default; // Orange
$yel: #D9A53D !default; // Yellow
$gre: #679D35 !default; // Green

$cya: #379AAB !default; // Cyan
$blu: #267DC6 !default; // Blue
$vio: #9E6BCD !default; // Violet
$mag: #DC6C95 !default; // Magenta

// Site-wide colours

$bg: lighten($lbg, 2%) !default;
$bg1: $lbg !default;
$bg2: darken($lbg, 1%) !default;
$bhl: $lhl !default;
$text1: $lt1 !default;
$text2: $lt2 !default;
$link: $blu !default;
$linkalt: $cya !default;

// Dividers

$dark1: rgba(#000, .1) !default;
$dark2: rgba(#000, .2) !default;
$penumbra: 0 1px 3px $dark2 !default;

// Space

$shalf: .5rem !default;
$sone: 1rem !default;

// Mixins

@mixin bodynormal {
  font-family: $sans;
  line-height: $line-height;
}

@mixin box-size {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin display {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin direction {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

@mixin box-flex {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

@mixin shadow {
  -webkit-box-shadow: $penumbra;
  -moz-box-shadow: $penumbra;
  -ms-box-shadow: $penumbra;
  box-shadow: $penumbra;
}

@mixin radius($degree) {
  -webkit-border-radius: $degree;
  -moz-border-radius: $degree;
  -ms-border-radius: $degree;
  border-radius: $degree;
}

@mixin tablet {
  @media screen and (min-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$desktop}) {
    @content;
  }
}

@mixin bigblock {
  padding: ($sone * 2.5) ($sone * 5);
  margin-right: -($sone * 5);
  margin-left: -($sone * 5);
}
